body{
  background-image: url("https://github.com/RiuSRoy/RiuSRoy.github.io/blob/master/riu_images/body.jpg?raw=true");
  background-size: contain;
  position: relative;
  
}
#head1{
  margin-top: 0.2vh;
  text-align: right;
}
.part1{
  font-size: 2vw;
}
.body1{
  font-size: 3.5vw;
}
.content{
  font-size:3.5vw;
}
#addr{
  visibility: hidden;
}
#page2{
  font-size: 5vw;
}
#head2{
  text-align: center;
  font-size: 30px;
}
#photo{
  display: block;
  margin:0 auto;
}
nav ul li{
  display : block;
  padding: 0;  
  text-align: left;
}
nav ul li:hover{
  margin-left: 0px;
}
#affix ul li a{ 
  font-size: 15px;
}
#affix {
	position: fixed;
      margin-left: 0;
      height: 100%;
      width: auto;
      z-index: 999 !important;
  }
#affix ul{
  padding: 18px ;
  padding-top: 60px;
}
#affix ul li{
  padding-bottom: 10vh;
}
  .text-center{
  	color: blue !important;
  }
#faq{
  margin-top: 10px;
}

 #write{
 	margin: 0px;
 }
#about{
	background-size: cover;
}
.ques,.body1{
  font-size: 20px;
}
.one-third{
  width: 48%;
  height: 330px;
}
#sec2{
  margin: 0;
}
#sec3{
  clear: both;
  float: none;
  width: auto;
  height: auto;
  margin-top: 2vh;
}
@media screen and (max-width: 550px){
  .one-third{
    width: 90% !important;
    float: none;
    margin:0 !important;
    height: auto !important;
  }
  .part1{
    font-size: 4vw;
  }
  #sites a{
    font-size: 20px;
  }
  #callimg{
    display: none;
    visibility: 
  }
}
.container,.xrow{
  margin-left: 100px;
}
#contact{
  padding-top: 10px;
}
